<link href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/3.5.0/remixicon.css" rel="stylesheet" crossorigin="">
<footer class="footer">
    <div class="footer__container container grid">
      <ul class="footer__light">
        <li>
          <a href="#home" class="footer__link">Accueil</a>
        </li>

        <li>
          <a href="#about" class="footer__link">À propos de moi</a>
        </li>

        <li>
          <a href="#projects" class="footer__link">Projets</a>
        </li>
      </ul>
      <!-- <span class="footer__copy">
        &#169; All Right Reserved By
        <a href="https://www.youtube.com/@Bedimcode">Bedimcode.</a>
      </span> -->
    </div>
</footer>

<!-- =====scroll up===== -->
<a href="#" class="scrollup" id="scroll-up">
  <i class="ri-arrow-up-s-line"></i>
</a>
  